body {
	margin: 0;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	background: #eee;
}

.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }
.scroll-x, .scroll-y { -webkit-overflow-scrolling: touch; }


.left.col {
	top:0;
	width: 200px;
}

.right.col {
	left: 200px;
	right: 0;
}

.top-bar {
	height: 40px;
	color: #ddd;
	background-color: #333;
	line-height: 40px;
	vertical-align: center;
	text-align: right;
	padding: 0 15px 0 15px;
}

.box {
	border-color: #bbb;
	border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	background: #fff;
}

.airplane-detail {
	padding: 20px;
}

.airplane-detail canvas {
	float: right;
	margin-bottom: 20px;
	padding: 10px;
}

.airplane-detail table {
	width: 100%;
}

.airplane-detail th {
	text-align: center;
}

.airplane-detail td {
	padding: 5px;
}

.airplane-detail tr.takeoff td.weight,
.airplane-detail tr.takeoff td.moment {
	border-top: 1px solid #000;
}

.airplane-detail tr.takeoff {
	font-weight: bold;
}

.weight, .arm, .moment {
	text-align: right;
}