<div class="row">
	<div class="col-md-12">
		[<a href="#/airplane/edit/{{ airplane.id }}">modify airplane</a>]
		<h1>{{ airplane.tail }}</h1>
	</div>
</div>
<br/>
<div class="row">
	
	<div class="col-md-4 col-md-push-8 text-right">
		<canvas>
			Please use a younger browser.
		</canvas>
	</div>
	
		
	<div class="col-md-8 col-md-pull-4">	
		<table class="table table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th>load</th>
					<th class="text-center">weight ({{ getUnits(units).weight.unit }})</th>
					<th class="text-center">arm ({{ getUnits(units).arm.unit }})</th>
					<th class="text-center">moment ({{ getUnits(units).moment.unit }})</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="station in airplane.stations">
					<td>{{ station.name }}</td>
					<td class="weight form-inline text-right">
						<input type="number" class="form-control" ng-model="station.weight" as-weight="{{units}}"/><br/>
						<!--<input type="range" ng-model="station.weight" as-weight="{{units}}" min="0" max="300"/>-->
					</td>
					<td class="arm text-right">{{ station.arm | arm:units }}</td>
					<td class="moment text-right">{{ station.moment() | moment:units }}</td>
				</tr>
				<tr class="active">
					<td>Ramp weight and moment</td>
					<td class="weigh text-right"><b>{{ airplane.ramp().weight | weight:units }}</b></td>
					<td></td>
					<td class="moment text-right"><b>{{ airplane.ramp().moment | moment:units }}</b></td>
				</tr>
				<tr>
					<td>{{ airplane.taxi.name }}</td>
					<td class="weight form-inline text-right">
						<input type="number" class="form-control" ng-model="airplane.taxi.weight" as-weight="{{units}}"/>
					</td>
					<td class="arm text-right">{{ airplane.taxi.arm | arm:units }}</td>
					<td class="moment text-right">{{ airplane.taxi.moment() | moment:units }}</td>
				</tr>
				<tr class="takeoff active">
					<td>Takeoff weight and moment</td>
					<td class="weight text-right"><b>{{ airplane.takeoff().weight | weight:units }}</b></td>
					<td></td>
					<td class="moment text-right"><b>{{ airplane.takeoff().moment | moment:units }}</b></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
</div>