
<div class="top-bar">
	<div class="units">
		<input type="radio" ng-model="units" value="metric" name="units"/> kg/mm
		<input type="radio" ng-model="units" value="imperial" name="units"/> lbs/inc
	</div>
</div>

<div class="airplane-detail">
	
	<canvas width="300" height="120" class="box">
		Please use a younger browser.
	</canvas>
	
	<div>
		<h1>{{ airplane.tail }} - {{ airplane.name }}</h1>
	</div>
	
	<table class="box">
		<thead>
			<tr>
				<th colspan="2"></th>
				<th>weight ({{ getUnits(units).weight.unit }})</th>
				<th>arm ({{ getUnits(units).arm.unit }})</th>
				<th>moment ({{ getUnits(units).moment.unit }})</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="station in airplane.stations">
				<td></td>
				<td>{{ station.name }}</td>
				<td class="weight"><input type="number" ng-model="station.weight" as-weight="{{units}}"/></td>
				<td class="arm">{{ station.arm | arm:units }}</td>
				<td class="moment">{{ station.moment() | moment:units }}</td>
			</tr>
			<tr>
				<td></td>
				<td>Ramp weight and moment</td>
				<td class="weight">{{ airplane.ramp().weight | weight:units }}</td>
				<td></td>
				<td class="moment">{{ airplane.ramp().moment | moment:units }}</td>
			</tr>
			<tr>
				<td></td>
				<td>{{ airplane.taxi.name }}</td>
				<td class="weight"><input type="number" ng-model="airplane.taxi.weight" as-weight="{{units}}"/></td>
				<td class="arm">{{ airplane.taxi.arm | arm:units }}</td>
				<td class="moment">{{ airplane.taxi.moment() | moment:units }}</td>
			</tr>
			<tr class="takeoff">
				<td></td>
				<td>Takeoff weight and moment</td>
				<td class="weight">{{ airplane.takeoff().weight | weight:units }}</td>
				<td></td>
				<td class="moment">{{ airplane.takeoff().moment | moment:units }}</td>
			</tr>
		</tbody>
	</table>
</div>