<!DOCTYPE html>
<html lang="en" ng-app="airscale">
	<head>
		<title>&#9992; Weight &amp; Balance</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="icon" sizes="196x196" href="img/icon.png">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="apple-touch-icon" href="img/icon.png">
		
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<header class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<span class="navbar-brand">&#9992; Weight &amp; Balance</span>
				</div>
				<form class="navbar-form navbar-nav navbar-right">
						<select class="form-control" ng-model="units">
							<option value="metric">kg/mm</option>
							<option value="imperial">lbs/inc</option>
						</select>
				</form>
				<ul class="navbar-nav nav">
					<li><a class="navbar-link" href="#/airplane/new">New Airplane</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Airplanes <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu" ng-controller="NavCtrl">
							<li ng-repeat="airplane in airplanes">
								<a role="menuitem" href="#/airplane/{{ airplane.id }}">{{ airplane.tail }}</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			
		</header>
		<br/><br/><br/><br/><br/>
		<div class="container" ng-view></div>
		
		<script src="js/envelope.js"></script>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="lib/angular/angular-resource.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/models.js"></script>
		
		<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>